<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="http://xjtunc.herokuapp.com/">Xi'an Jiaotong University - Northen California | Alumni Job Referral </a>
  </div>
</div>

