<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="http://xjtunc.herokuapp.com/">
    	Xi'an Jiaotong University - Northen California | <span style="color: lightblue";>Alumni Job Referral</span></a>
  </div>
</div>

